.container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 25%;
}

.info-cards {
    background-color: #e31918;
    width: 12rem;
    height: 9rem;
    border-radius: 10px;
    margin-left: 15px;
    text-align: center;
    padding-top: 65px;
    color: #ffffff;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.info-cards:hover {
    background-color: #f56464;
    transition: 0.3s ease;
}